attrs>=23.1.0,<24.0.0
ir_datasets==0.5.5
ir_measures==0.3.3
numpy<2.0.0
pandas==1.5.3
python_terrier==0.10.0
torch==2.0.0
tqdm==4.66.1
transformers==4.24.0
python-socketio[client]==5.9.0
python-dotenv==1.0.0
