attrs>=23.1.0,<24.0.0
datamaestro
datamaestro_text
experimaestro
experimaestro_ir
ir_datasets
ir_measures
matplotlib
numpy<2
pandas
python_terrier
scikit_learn
scipy
torch
tqdm
transformers==4.24.0
python-socketio[client]
python-dotenv
